[Unit]
Description=Change wallpaper periodically using AWWW
After=awww.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=60min

[Install]
WantedBy=timers.target
