[Unit]
Description=keyd application mapper
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/keyd-application-mapper
Restart=on-failure

[Install]
WantedBy=graphical-session.target
