[Unit]
Description=Sunshine game stream host
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env sunshine
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
