#=== Force sudo to try and expand the next command if it's an alias
alias sudo="sudo "

#=== AI
alias serena="uvx --from git+https://github.com/oraios/serena serena"

#=== Builtin Replacements
alias cat="bat -pp"
alias df="duf -hide special,fuse"
alias diff="delta"
# alias find="fd" # use find and fd separately
alias grep="rg"
alias grepall="rg -uuu --no-ignore"
alias journalctl="SYSTEMD_LESS=FRXMK journalctl --no-pager"
alias top="btop"
alias watch="viddy -d"
#alias vi=nvim-maybe-profile
#alias vim=nvim-maybe-profile
alias vi=nvim
alias vim=nvim

#=== cd
# Create aliases for up to 15 directories (offset by 1: '..'='cd ../', '...'='cd ../../', etc.)
for i in {2..25}; do
  alias "$(printf '%0.s.' $(seq 1 $i))"="cd $(printf '../%.0s' $(seq 1 $((i-1))))"
done
alias .="cd ." # Don't go anywhere with one dot

#=== Defaults
alias ddi="sudo killall -INFO dd" # Shows progress of dd in the window that dd is running in
alias df="df -kH" # Clean disk info
alias rm='rm -iv' # Prevent clobbering
alias cp='cp -iv' # Prevent clobbering
alias mv='mv -iv' # Prevent clobbering

#=== Extra tools
alias ai="aichat"
alias cm="chezmoi"
alias feh="feh -z --scale-down"
alias gpt-"aichat -m openai:gpt-4o-2024-11-20"
#alias claude="aichat -m claude:claude-3-5-sonnet-latest"
alias jinaai="curl https://r.jina.ai -H \"Authorization: Bearer ${JINA_AI_API_KEY}\""
alias lg="lazygit"
alias piper="pyenv local system && pyenv exec piper"
alias yless="jless --yaml"

#=== Hyprland
alias hyprctl="hyprctl --instance 0" # avoids tmux-inside-hyprland issues
alias hc="hyprctl --instance 0"
alias reload-waybar="systemctl --user restart waybar"
alias reload-ags="systemctl --user restart ags"
alias debug-waybar="env GTK_DEBUG=interactive waybar"

#=== Kubectl
alias k="kubectl"
alias kubectx="FZF_DEFAULT_OPTS=\"${FZF_DEFAULT_OPTS} --reverse\" kubectl ctx"
alias kx="FZF_DEFAULT_OPTS=\"${FZF_DEFAULT_OPTS} --reverse\" kubectl ctx"
alias kubens="FZF_DEFAULT_OPTS=\"${FZF_DEFAULT_OPTS} --reverse\" kubectl-ns"
alias kn="FZF_DEFAULT_OPTS=\"${FZF_DEFAULT_OPTS} --reverse\" kubectl-ns"
alias kb="FZF_DEFAULT_OPTS=\"${FZF_DEFAULT_OPTS} --reverse\" kubie ctx"

#=== ls
alias ls="lsd"
alias l="ls -a"
alias ll="ls -lahg"
alias lll="ls -lahg --blocks permission,user,group,size,date,name"

#=== Shortcuts
alias b64='base64'
alias o="open"
alias v="clear" # clear terminal
#alias R='cd $HOME && source .zshrc && cd - && echo ".zshrc reloaded"' # reload zsh
alias R=reload-zsh-configuration
alias which='type -a'

#=== Tmux
alias tmux="direnv exec / tmux"

#=== Zellij
#alias zellij="bash ~/dotfiles/zellij/scripts/new-zellij-session.sh"
