[Unit]
Description=Aylur's GTK Shell

[Service]
Type=simple
#ExecStart=/bin/bash -c 'ags run --gtk4 -d ~/.config/ags-gtk4 --arg=\"primaryMonitor={{ .system.primaryMonitor.name }}\"'
ExecStart=/bin/bash -c 'ags run --arg=\"primaryMonitor={{ .system.primaryMonitor.name }}\"'
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
