[Unit]
Description=Quickshell
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'qs'
Restart=always
RestartSec=10s

[Install]
WantedBy=graphical-session.target
