#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end }}

echo "Configuring Neovim for {{ $osID }}..."

# Cleanup old lazyvim state
echo "Cleaning up old lazyvim state"
rm -rf "${HOME}/.local/share/nvim/lazy"
rm -rf "${HOME}/.local/state/nvim/lazy"
rm -f "${HOME}/.config/nvim/lazy-lock.json"

# Install nvim configuration
echo "Installing Neovim configuration"
current_dt=$(date '+%d-%m-%Y_%H-%M-%S')
if [ -d "${HOME}/.config/nvim" ]; then 
    mv "${HOME}/.config/nvim" "${HOME}/.config/nvim.old.${current_dt}"
fi
ln -sf "${HOME}/dotfiles/nvim" "${HOME}/.config/nvim" 