#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end }}

echo "Configuring npm using fnm for {{ $osID }}..."

# Install fnm if not already installed
if ! command -v fnm &> /dev/null; then
    echo "Installing fnm"
    curl -fsSL https://fnm.vercel.app/install | bash
    
    # Source fnm in current shell
    eval "$(${HOME}/.local/share/fnm/fnm env --use-on-cd)"
fi

# Install latest LTS version of Node.js
echo "Installing latest npm"
${HOME}/.local/share/fnm/fnm install --lts 