#!/usr/bin/env bash

{{- $osID := .host.os_type }}

{{- /* Map OS type to package manager */}}
{{- $packageManager := "" -}}
{{- if eq $osID "arch" -}}
  {{- $packageManager = "pacman" -}}
{{- else if eq $osID "darwin" -}}
  {{- $packageManager = "brew" -}}
{{- else if eq $osID "ubuntu" -}}
  {{- $packageManager = "apt" -}}
{{- end -}}

{{- $packageList := "" -}}
{{- $aurPackageList := "" -}}

{{- range $hyprPackageName, $hyprPackageData := .packages.hyprland -}}
{{- if and ($hyprPackageData) (index $hyprPackageData $packageManager) -}}
{{- $packageList = printf "%s %s" $packageList (index $hyprPackageData $packageManager) -}}
{{- end -}}
  {{- /* Add Arch AUR packages if applicable */}}
  {{- if and (eq $osID "arch") ($hyprPackageData) (index $hyprPackageData "aur") -}}
    {{- $aurPackageList = printf "%s %s" $aurPackageList (index $hyprPackageData "aur") -}}
  {{- end -}}
{{- end }}

{{- range $swayPackageName, $swayPackageData := .packages.sway -}}
{{- if and ($swayPackageData) (index $swayPackageData $packageManager) -}}
{{- $packageList = printf "%s %s" $packageList (index $swayPackageData $packageManager) -}}
{{- end -}}
  {{- /* Add Arch AUR packages if applicable */}}
  {{- if and (eq $osID "arch") ($swayPackageData) (index $swayPackageData "aur") -}}
    {{- $aurPackageList = printf "%s %s" $aurPackageList (index $swayPackageData "aur") -}}
  {{- end -}}
{{- end }}

{{- if eq $osID "arch" }}
echo "Installing Hyprland and Sway packages for {{ $osID }}..."
sudo pacman -S --needed --noconfirm --ask=4 {{ $packageList | trim }}
yay -S --needed --noconfirm {{ $aurPackageList | trim }}
{{- else }}
echo "Hyprland is not supported on {{ $osID }}. Skipping..."
{{- end }} 
