#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end -}}

{{- if eq $osID "linux" }}

hyprpm add https://github.com/hyprwm/hyprland-plugins

hyprpm enable hyprbars
hyprpm enable hy3

{{- end }}
