#!/usr/bin/env bash

{{- $osID := .host.os_type -}}
{{- if ne $osID "darwin" }}
INIT_SYSTEM=$(ps --no-headers -o comm 1)

if [ $INIT_SYSTEM == "systemd" ]; then
  #=== System
  sudo systemctl enable --now keyd
  sudo systemctl enable --now swayosd-libinput-backend
  sudo systemctl enable --now tailscaled

  #=== User
fi
{{- end }}
