#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "idLike") -}}
{{-   $osID = .chezmoi.osRelease.idLike -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end -}}

{{- if eq $osID "arch" }}

hyprpm add https://github.com/hyprwm/hyprland-plugins

hyprpm enable hyprbars
hyprpm enable hy3

{{- end }}
