#!/usr/bin/env bash

{{- $osID := .host.os_type }}

{{- $packageList := "" -}}
{{- $aurPackageList := "" -}}

{{- range $hyprPackageName, $hyprPackageData := .packages.hyprland -}}
{{- if and ($hyprPackageData) (index $hyprPackageData $osID) (index $hyprPackageData $osID "name") -}}
{{- $packageList = printf "%s %s" $packageList (index $hyprPackageData $osID "name") -}}
{{- end -}}
  {{- /* Add Arch AUR packages if applicable */}}
  {{- if and (eq $osID "arch") ($hyprPackageData) (index $hyprPackageData $osID) (index $hyprPackageData $osID "aur") (index $hyprPackageData $osID "aur" "name") -}}
    {{- $aurPackageList = printf "%s %s" $aurPackageList (index $hyprPackageData $osID "aur" "name") -}}
  {{- end -}}
{{- end }}

{{- range $swayPackageName, $swayPackageData := .packages.sway -}}
{{- if and ($swayPackageData) (index $swayPackageData $osID) (index $swayPackageData $osID "name") -}}
{{- $packageList = printf "%s %s" $packageList (index $swayPackageData $osID "name") -}}
{{- end -}}
  {{- /* Add Arch AUR packages if applicable */}}
  {{- if and (eq $osID "arch") ($swayPackageData) (index $swayPackageData $osID) (index $swayPackageData $osID "aur") (index $swayPackageData $osID "aur" "name") -}}
    {{- $aurPackageList = printf "%s %s" $aurPackageList (index $swayPackageData $osID "aur" "name") -}}
  {{- end -}}
{{- end }}

{{- if eq $osID "arch" }}
echo "Installing Hyprland and Sway packages for {{ $osID }}..."
sudo pacman -S --needed --noconfirm --ask=4 {{ $packageList | trim }}
yay -S --needed --noconfirm {{ $aurPackageList | trim }}
{{- else }}
echo "Hyprland is not supported on {{ $osID }}. Skipping..."
{{- end }} 
