#!/usr/bin/env bash

{{- $osID := .system.os_type }}
{{- $hostname := .chezmoi.fqdnHostname -}}
{{- $hostData := index .host $hostname -}}
{{- $enabledGroups := list -}}

{{- /* Get enabled package groups for this host */}}
{{- if and $hostData (hasKey $hostData "packageGroups") (hasKey $hostData.packageGroups "enabled") -}}
  {{- $enabledGroups = $hostData.packageGroups.enabled -}}
{{- end -}}

{{ if and (eq $osID "ubuntu") (has "system_libs" $enabledGroups) }}
echo "Installing Ubuntu system libraries..."

{{- $libsList := "" -}}
{{- range $libName, $libData := .packages.system_libs -}}
{{- if and ($libData) (index $libData "apt") -}}
{{- $libsList = printf "%s %s" $libsList (index $libData "apt") -}}
{{- end -}}
{{- end -}}

# Update package lists
sudo apt update

# Install Ubuntu-specific libraries
sudo apt install -y {{ $libsList | trim }}

# Configure locale
echo "Configuring locale"
sudo locale-gen en_US.UTF-8
sudo locale-gen en_US.ISO-8859-15
{{- else }}
echo "Skipping Ubuntu system libraries - either not Ubuntu or system_libs group not enabled"
{{- end }} 