#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "idLike") -}}
{{-   $osID = .chezmoi.osRelease.idLike -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end }}

echo "Installing Kubernetes tools for {{ $osID }}..."

# Install krew
echo "Installing krew..."
set -x
TEMP_DIR=$(mktemp -d)
cd "${TEMP_DIR}"
OS=$(uname | tr '[:upper:]' '[:lower:]')
ARCH=$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')
KREW="krew-${OS}_${ARCH}"
curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz"
tar zxvf "${KREW}.tar.gz"
./"${KREW}" install krew
set +x

# Add krew to PATH for this script
export PATH="${PATH}:${HOME}/.krew/bin"

# Add kubectl-ai index
echo "Adding Krew index..."
kubectl krew index add kubectl-ai https://github.com/sozercan/kubectl-ai

# Install krew plugins
echo "Installing krew plugins..."
kubectl krew install ns ctx neat sniff konfig stern resource-capacity tree ktop 