#!/usr/bin/env bash

{{ $osName := .chezmoi.osRelease.prettyName }}
{{- $osID := $osName | lower | replace " " "_" }}
{{- $basePackages := .packages.base }}

{{- range $basePackageName, $basePackageData := .packages.base -}}

{{- if and (index $basePackageData $osID) (index $basePackageData $osID "name") }}

{{- if eq $osID "arch_linux" }}
{{- $archPackageName := $basePackageData.arch_linux.name }}
sudo pacman -S {{ $archPackageName }}

{{- end }}

{{- end }}

{{- end }}
