#!/usr/bin/env bash
# metapac groups hash: {{ $content := "" }}{{ range glob (joinPath .chezmoi.sourceDir "dot_config/metapac/groups/*.toml") }}{{ $content = printf "%s%s" $content (include .) }}{{ end }}{{ $content | sha256sum }}

echo "Syncing packages with metapac..."
metapac sync
metapac clean
echo "Package sync finished."
