#!/usr/bin/env bash

{{- $osID := .system.os_type }}

echo "Configuring Python with uv for {{ $osID }}..."
#echo "Configuring Python with pyenv for {{ $osID }}..."

# Check if pyenv is installed
#if ! command -v pyenv &> /dev/null; then
#    echo "pyenv is not installed. Please install pyenv first."
#    exit 1
#fi

# Install uv
curl -LsSf https://astral.sh/uv/install.sh | sh

# Install Python
PYTHON_VERSION="3.13"
#echo "Installing Python 3.11 with pyenv"
echo "Installing Python ${PYTHON_VERSION} with uv"
uv python install ${PYTHON_VERSION} --default --preview

# Set as default for the user
#pyenv global 3.11 
