#!/usr/bin/env bash

{{- $osID := .chezmoi.config.data.calculated.os_type }}

{{- $hyprlandPackages := .packages.hyprland -}}
{{- $packageList := "" -}}

{{- range $hyprPackageName, $hyprPackageData := .packages.hyprland -}}
{{- if and ($hyprPackageData) (index $hyprPackageData $osID) (index $hyprPackageData $osID "name") -}}
{{- $packageList = printf "%s %s" $packageList (index $hyprPackageData $osID "name") -}}
{{- end -}}
{{- end }}

{{- if eq $osID "arch" }}
echo "Installing Hyprland packages for {{ $osID }}..."
sudo pacman -S --needed --noconfirm {{ $packageList | trim }}
{{- else }}
echo "Hyprland is not supported on {{ $osID }}. Skipping..."
{{- end }} 
