#!/usr/bin/env bash

{{- $osID := .chezmoi.config.data.calculated.os_type -}}

{{- if eq $osID "arch" }}

hyprpm add https://github.com/hyprwm/hyprland-plugins

hyprpm enable hyprbars
hyprpm enable hy3

{{- end }}
