#!/usr/bin/env bash

{{- $osID := .system.os_type -}}
{{- if ne $osID "darwin" }}
INIT_SYSTEM=$(ps --no-headers -o comm 1)

if [ $INIT_SYSTEM == "systemd" ]; then
  #=== System
  sudo systemctl enable --now bluetooth
  sudo systemctl enable --now keyd
  sudo systemctl enable --now tailscaled

  {{- $hostname := .chezmoi.hostname -}}
  {{- $hostData := index .host $hostname -}}
  {{- $headless := false -}}
  {{- if and $hostData (hasKey $hostData "headless") -}}
    {{- $headless = $hostData.headless -}}
  {{- end -}}
  {{- if not $headless }}
  sudo systemctl enable --now greetd
  systemctl --user enable --now quickshell
  {{- end }}
fi
{{- end }}
# rerun: cc5434f9
