#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end }}

{{ if eq $osID "darwin" }}
echo "Installing macOS-specific packages..."

# Add Homebrew taps
echo "Adding Homebrew taps..."
{{- $tapList := "" -}}
{{- range $tapName, $tapData := .packages.macos -}}
{{- if and ($tapData) (index $tapData $osID) (index $tapData $osID "name") -}}
{{- if contains "/" (index $tapData $osID "name") -}}
{{- $tapList = printf "%s %s" $tapList (index $tapData $osID "name") -}}
{{- end -}}
{{- end -}}
{{- end }}

for tap in {{ $tapList | trim }}; do
    brew tap $tap
done

# Install macOS packages
{{- $packageList := "" -}}
{{- range $packageName, $packageData := .packages.macos -}}
{{- if and ($packageData) (index $packageData $osID) (index $packageData $osID "name") -}}
{{- if not (contains "/" (index $packageData $osID "name")) -}}
{{- $packageList = printf "%s %s" $packageList (index $packageData $osID "name") -}}
{{- end -}}
{{- end -}}
{{- end }}

echo "Installing macOS packages..."
brew install {{ $packageList | trim }}

# Install Homebrew Casks
echo "Installing Homebrew Casks..."
brew install --cask wezterm
{{- end }} 