#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end -}}

{{- $basePackages := .packages.base -}}
{{- $packageList := "" -}}

{{- range $basePackageName, $basePackageData := .packages.base -}}
{{- if and ($basePackageData) (index $basePackageData $osID) (index $basePackageData $osID "name") -}}
{{- $packageList = printf "%s %s" $packageList (index $basePackageData $osID "name") -}}
{{- end -}}
{{- end }}

echo "Installing base packages for {{ $osID }}..."

{{- if eq $osID "arch" }}
sudo pacman -S --needed --noconfirm {{ $packageList | trim }}
{{- else if eq $osID "darwin" }}
{{- range $tap := .packages.taps.darwin }}
echo "Tapping {{ $tap }}"
brew tap {{ $tap }}
{{- end }}
brew install {{ $packageList | trim }}
{{- else if eq $osID "ubuntu" }}
sudo apt update
sudo apt install -y {{ $packageList | trim }}
{{- end }} 
