#!/usr/bin/env bash

{{- $osID := .host.os_type }}

echo "Configuring npm using fnm for {{ $osID }}..."

# Install fnm if not already installed
FNM_BIN=""
if ! command -v fnm &> /dev/null; then
    echo "Installing fnm"
    curl -fsSL https://fnm.vercel.app/install | bash
    
    # Source fnm in current shell
    FNM_BIN=$(which fnm)
    eval "$(${FNM_BIN} env --use-on-cd)"
fi

# Install latest LTS version of Node.js
echo "Installing latest npm"
{{- if eq $osID "darwin" }}
/opt/homebrew/bin/fnm install --lts
{{- else }}
/home/sboynton/.local/share/fnm/fnm install --lts 
{{- end }}
