#!/usr/bin/env bash

{{- $osID := "" -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $osID = "darwin" -}}
{{- end -}}

{{- $toolsPackages := .packages.tools -}}
{{- $packageList := "" -}}

{{- range $toolPackageName, $toolPackageData := .packages.tools -}}
{{- if and ($toolPackageData) (index $toolPackageData $osID) (index $toolPackageData $osID "name") -}}
{{- $packageList = printf "%s %s" $packageList (index $toolPackageData $osID "name") -}}
{{- end -}}
{{- end }}

echo "Installing tools packages for {{ $osID }}..."

{{- if eq $osID "arch" }}
sudo pacman -S --needed --noconfirm {{ $packageList | trim }}
{{- else if eq $osID "darwin" }}
brew install {{ $packageList | trim }}
{{- else if eq $osID "ubuntu" }}
sudo apt update
sudo apt install -y {{ $packageList | trim }}
{{- end }} 