# Initialize zinit
# Point HOME_DIR at a writable location since /usr/share/zinit is system-owned.
typeset -A ZINIT
ZINIT[HOME_DIR]="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit"
{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/zinit/zinit.zsh
{{- else }}
source /usr/share/zinit/zinit.zsh
{{- end }}

# Must load before zsh-syntax-highlighting
zinit light zsh-users/zsh-history-substring-search

source ~/.zsh/themes/zsh-syntax-highlighting.zsh
zinit light zsh-users/zsh-syntax-highlighting

ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=8"
zinit light zsh-users/zsh-autosuggestions

ZSH_AUTOSUGGEST_CLEAR_WIDGETS+=(
  fzf-search-directory
  fzf-search-git-log
  fzf-search-git-branches
  fzf-search-git-status
  fzf-search-processes
  fzf-search-history
  fzf-tab-dispatch
  cs-exec-widget
)

zinit snippet OMZP::git-auto-fetch

zinit light Aloxaf/fzf-tab
