configuration {
	modes: [ combi ];
	combi-modes: [ window, drun, ssh ];
  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

entry {
  placeholder: "Type here";
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

element-icon {
  size: 2.5em;
}

element-text {
    vertical-align: 0.5;
}
