[diff]
  command = "delta"
  #exclude = "scripts"

#=== Determine if we're on a desktop or laptop
{{- $chassisType := includeTemplate "chassis" . }}
[data.chassis]
  type = "{{ $chassisType }}"

#=== Calculated information
[data.calculated]

#=== Host-specific configuration
[data.host]
  os_type = "{{ includeTemplate "osID" . }}"

#=== Find the primary monitor for the current host
  [data.host.primaryMonitor]
    name = "{{ includeTemplate "primaryMonitor" . }}"

#=== Hostname-specific configuration
{{- $hostTemplate := joinPath .chezmoi.sourceDir ".chezmoitemplates" "hosts" .chezmoi.fqdnHostname }}
{{- if stat $hostTemplate }}
{{ includeTemplate $hostTemplate . }}
{{- end }}
