local wezterm = require('wezterm')

local config = wezterm.config_builder()

--
-- windows
--
{{ if eq .chezmoi.os "windows"}}
config.animation_fps = 255
config.wsl_domains = {
    {
        name = "WSL:Ubuntu",
        distribution = "Ubuntu",
        default_cwd = "~"
    },
}
config.front_end = 'WebGpu' -- WebGpu or OpenGL
config.default_domain = "WSL:Ubuntu"
config.font = wezterm.font('Iosevka', { weight = 'Regular', stretch = 'Normal' })
config.font_size = 10.5
{{ end }}

--
-- macos
--
{{ if eq .chezmoi.os "darwin" }}
config.animation_fps = 120
config.font = wezterm.font_with_fallback {'Iosevka', 'Iosevka Nerd Font Propo'}
config.font_size = 16
config.window_decorations = "RESIZE"
{{ end }}

--
-- linux
--
{{ if eq .chezmoi.os "linux" }}
config.animation_fps = 120
config.font = wezterm.font 'Iosevka Nerd Font Propo'
-- config.font = wezterm.font_with_fallback {'Iosevka', 'Iosevka Nerd Font Propo'}
config.font_size = 18
{{ end }}

-- enabling kitty keyboard fixes certain keybindings on windows and linux
{{ if ne .chezmoi.os "darwin" }}
config.enable_kitty_keyboard = true
{{ end }}

config.enable_wayland = false
config.enable_tab_bar = false

config.window_padding = {
  bottom = 0,
}

config.color_scheme = "Catppuccin Mocha"
config.warn_about_missing_glyphs=false

config.disable_default_key_bindings=true
config.keys = {
  -- Make Option-Left equivalent to Alt-b which many line editors interpret as backward-word
  {key="LeftArrow", mods="OPT", action=wezterm.action{SendString="\x1bb"}},
  -- Make Option-Right equivalent to Alt-f; forward-word
  {key="RightArrow", mods="OPT", action=wezterm.action{SendString="\x1bf"}},
  {
    key = "P",
    mods = "CTRL|SHIFT",
    action = wezterm.action.ActivateCommandPalette,
  },
  {
    key = "C",
    mods = "CTRL|SHIFT",
    action = wezterm.action.CopyTo('Clipboard'),
  },
  {
    key = "V",
    mods = "CTRL|SHIFT",
    action = wezterm.action.PasteFrom('Clipboard'),
  },
  {{ if eq .chezmoi.os "darwin" }}
  {
    key = "P",
    mods = "CMD|SHIFT",
    action = wezterm.action.ActivateCommandPalette,
  },
  {
    key = "C",
    mods = "CMD|SHIFT",
    action = wezterm.action.CopyTo('Clipboard'),
  },
  {
    key = "C",
    mods = "CMD",
    action = wezterm.action.CopyTo('Clipboard'),
  },
  {
    key = "V",
    mods = "CMD|SHIFT",
    action = wezterm.action.PasteFrom('Clipboard'),
  },
  {
    key = "V",
    mods = "CMD",
    action = wezterm.action.PasteFrom('Clipboard'),
  },
  {{ end }}
}

return config
