### Local Development

#### Satisfying dependencies

* Create an example project somewhere: `ags init --gtk 3 -d some/directory`
* Copy the generated `@girs` folder to this folder
* Run `npm install` in this folder

### Running

* `hyprctl dispatch exec 'ags run'`
    * Optionally add a `primaryMonitor` argument if you have more than one monitor: `ags run --arg="primaryMonitor=DP-3"`

#### Quick Scripts

* Chezmoi apply & restart:
```bash
{{- if .system.primaryMonitor }}
killall gjs; cm apply && hyprctl dispatch exec 'ags run --args="primaryMonitor={{ .system.primaryMonitor.name }}'
{{- else }}
killall gjs; cm apply && hyprctl dispatch exec 'ags run'
{{- end }}
```

### Inspiration

Many thanks go to the following projects from which I've borrowed code, ideas, or both:

* [shadey56/saturn](https://github.com/shadeyg56/saturn)
* [Jas-SinghFSU/HyprPanel](https://github.com/Jas-SinghFSU/HyprPanel)
* [linuxmobile/astal-bar](https://github.com/linuxmobile/astal-bar)
* [rice-cracker-dev/mht-shell](https://github.com/rice-cracker-dev/mht-shell)
* [gitmeED331/agsv2](https://github.com/gitmeED331/agsv2)
* [qxb3/conf](https://github.com/qxb3/conf)
