#!/usr/bin/env bash

{{- $osID := .chezmoi.config.data.calculated.os_type -}}

{{- if eq $osID "arch" }}

hyprpm add https://github.com/hyprwm/hyprland-plugins
hyprpm enable hyprbars

hyprpm add https://github.com/outfoxxed/hy3
hyprpm enable hy3

#=== this is necessary *after* installing and enabling plugins for the first time
# hyprpm update

{{- end }}
