.txt-icon {
    font-family: 'JetBrainsMono Nerd Font Propo', monospace;
    font-size: 1.5em;

    &.bluetooth {
        font-size: 1em;
    }

    &.playback {
        font-size: 1.3em;
    }

    &.input {
        font-size: 1.3em;
    }
}

.bar.txt-icon {
    font-family: 'JetBrainsMono Nerd Font Propo', monospace;
    font-size: 1.2em;
}

tooltip {
    * {
        all: unset;
    }

    opacity: 1;

    font-size: 1.1em;

    > * > * {
        padding: 0.6em;
        border-radius: 0.5em;
        color: $text;
        background: $dark-background;
    }
}

check:not(:checked) {
    background-color: $dark-background;
    border: 1px solid $dark-background;
}

check:checked {
    background-color: $mauve;
    border: 1px solid $dark-background;
}
