{
    "layer": "top",
    "reload_style_on_change": true,
    "spacing": 0,
    "height": 0,

    "margin-top": 10,
    "margin-right": 10,
    "margin-bottom": 0,
    "margin-left": 10,

    "modules-left": [
        "custom/menu",
        "custom/screenshot",
        "custom/screenrecording",
        "custom/recording",
        "hyprland/workspaces",
        // "hyprland/window",
        "hyprland/submap",
        "wlr/taskbar"
    ],

    "modules-center": [
        "clock"
    ],

    "modules-right": [
        "cpu",
        "memory",
        "network",
        //"backlight",
        // "custom/kubectx",
        "custom/tailscale",
        // "group/pulseaudio",
        "pulseaudio",
        "pulseaudio/slider",
        "battery",
        "tray",
        "custom/updates"
    ],

    "group/pulseaudio": {
      "modules": [
        "pulseaudio",
        "pulseaudio/slider"
      ],
      "orientation": "horizontal",
      "drawer": {
        "transition-left-to-right": true
      }
    },

    "wlr/taskbar": {
      "format": "{icon} ",
      "icon-size": 24,
      "icon-theme": "Numix-Circle",
      "tooltip-format": "{title}",
      "sort-by-app-id": true,
      "on-click": "activate",
      // "on-click-middle": "close",
      "on-scroll-up": "switch-prev",
      "on-scroll-down": "switch-next",
      "ignore-list": [
        "kitty"
      ],
      "app_ids-mapping": {
        "Cursor": "cursor",
        "vesktop": "discord",
        "org.wezfurlong.wezterm": "wezterm"
      }
    },

    "custom/menu": {
      "format" : "<span font=\"18px\">󰣇 </span>",
      "tooltip": false,
      "menu": "on-click",
      "menu-file": "$HOME/.config/waybar/menu.xml",
      "menu-actions": {
        "emojisearch": "wofi-emoji",
        "colorpicker": "$HOME/.config/hypr/scripts/colorpick",
        "killapp": "XCURSOR_THEME=crosshair XCURSOR_SIZE=24 hyprctl kill"
      }
    },

    "custom/screenshot": {
      "format" : "<span font=\"Font Awesome 6 Free\">  </span>",
      "tooltip-format": "Take a screenshot",
      //"on-click": "$HOME/.config/hypr/scripts/screenshot ss",
      "menu": "on-click", // on-click-right
      "menu-file": "$HOME/.config/waybar/screenshot_menu.xml",
      "menu-actions": {
          "ss": "$HOME/.config/hypr/scripts/screenshot ss",
          "areass": "$HOME/.config/hypr/scripts/screenshot areass",
          "areassclipboard": "$HOME/.config/hypr/scripts/screenshot areasscb",
          "ssdir": "hyprctl dispatch exec [floating] thunar \"~/Pictures/Screenshots\""
        }
    },

    "custom/screenrecording": {
      "format" : "<span font=\"Font Awesome 6 Free\">  </span>",
      "interval": "once",
      "menu": "on-click",
      "menu-file": "$HOME/.config/waybar/screenrecording_menu.xml",
      "menu-actions": {
          "sr": "$HOME/.config/hypr/scripts/screenrecording sr",
          "interactivesr": "$HOME/.config/hypr/scripts/screenrecording interactivesr",
          "areasr": "$HOME/.config/hypr/scripts/screenrecording areasr",
          "srdir": "hyprctl dispatch exec [floating] thunar \"~/Pictures/Recordings\""
        }
    },

    "custom/recording": {
      "format": "⬤ ",
      "toltip": "false",
      "return-type": "json",
      "exec": "echo '{\"class\": \"recording\"}'",
      "exec-if": "pgrep wf-recorder",
      "interval": 1,
      "on-click": "pkill wf-recorder && notify-send 'Stopped screen recording'"
    },

    "custom/tailscale" : {
      "exec": "~/.config/waybar/scripts/waybar-tailscale/waybar-tailscale.sh --status",
      "on-click": "exec ~/.config/waybar/scripts/waybar-tailscale/waybar-tailscale.sh --toggle",
      "exec-on-event": true,
      "format": "  {icon}",
      "format-icons": {
          "connected": "on",
          "stopped": "off"
      },
      "tooltip": true,
      "return-type": "json",
      "interval": 3
    },

    "custom/kubectx" : {
        "exec": "~/.config/waybar/scripts/waybar-kubectx/waybar-kubectx.sh",
        "on-click": "",
        "exec-on-event": true,
        "format": "⎈  {text}",
        "format-icons": {},
        "tooltip": false,
        "return-type": "json",
        "interval": 1
    },

    "custom/updates": {
      "format": "{} {icon}",
      "return-type": "json",
      "format-icons": {
          "has-updates": "󱍷 ",
          "updated": "󰂪 "
      },
      "exec-if": "which waybar-module-pacman-updates",
      "exec": "waybar-module-pacman-updates --interval-seconds 5 --network-interval-seconds 3600"
    },

    "hyprland/window": {
      "format": "{class}",
      "icon": true,
      "rewrite": {
          // Original Entries

          // Browsers
          "firefox": "Firefox",
          "microsoft-edge": "Edge",
          "google-chrome": "Google Chrome",
          "chromium": "Chromium",
          "tor-browser": "Tor Browser",

          // Terminals
          "kitty": "Kitty Terminal",
          "gnome-terminal": "GNOME Terminal",
          "konsole": "Konsole",
          "alacritty": "Alacritty",
          "org.wezfurlong.wezterm": "Wezterm",
          "foot": "Foot Terminal",
          "xterm": "XTerm",
          "com.mitchellh.ghostty": "Ghostty",

          // Development Tools
          "code": "Visual Studio Code",
          "vscode": "VS Code",
          "cursor": "Cursor",
          "docker": "Docker",
          "vim": "Vim",
          "neovim": "Neovim",
          "postman": "Postman",

          // Communication Tools
          "discord": "Discord",
          "vesktop": "Vesktop",
          "slack": "Slack",
          "whatsapp": "WhatsApp",
          "teams": "Microsoft Teams",
          "signal": "Signal",
          "thunderbird": "Thunderbird",

          // File Managers
          "org.kde.dolphin": "Dolphin",
          "nautilus": "Files (Nautilus)",
          "thunar": "Thunar",
          "krusader": "Krusader",

          // Media Players
          "plex": "Plex",
          "spotify": "Spotify",
          "vlc": "VLC Media Player",
          "mpv": "MPV",
          "feh": "Feh",
          "ristretto": "Ristretto",

          // Gaming
          "steam": "Steam",

          // Witing Tools
          "obsidian": "Obsidian"
        }
    },

    "hyprland/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "tooltip": false,
        "show-special": true,
        // "format": "{name} <big>{windows}</big>",
        "format": "{name}",
        "format-window-separator": " ",
        "window-rewrite-default": " ",
        "window-rewrite": {
          // https://www.nerdfonts.com/cheat-sheet
          // Specific titles
          "title<.*youtube.*>": " ",

          // Browsers
          "class<firefox>": "󰈹 ",
          "microsoft-edge": "󰇩 ",
          "google-chrome": " ",
          "class<google-chrome>": " ",
          "chromium": " ",
          "tor-browser": " ",

          // Terminals
          "kitty": "󰄛 ",
          "gnome-terminal": " ",
          "konsole": " ",
          "alacritty": " ",
          "class<org.wezfurlong.wezterm>": " ",
          "foot": "󰽒 ",
          "xterm": " ",
          "class<com.mitchellh.ghostty>": "󰊠 ",

          // Development Tools
          "code": "󰨞 ",
          "vscode": "󰨞 ",
          "class<cursor>": "󰨞 ",
          "docker": " ",
          "vim": " ",
          "neovim": " ",
          "postman": "󰶎 ",

          // Communication Tools
          "discord": " ",
          "vesktop": " ",
          "slack": "󰒱 ",
          "whatsapp": "󰖣 ",
          "teams": "󰊻 ",
          "signal": "󰭹 ",
          "thunderbird": " ",

          // File Managers
          "org.kde.dolphin": " ",
          "nautilus": "󰝰 ",
          "thunar": "󰝰 ",
          "krusader": "󰝰 ",

          // Media Players
          "plex": "󰚺 ",
          "spotify": "󰓇 ",
          "vlc": "󰕼 ",
          "mpv": " ",
          "feh": " ",
          "ristretto": "󰋩 ",

          // Gaming
          "steam": " ",

          // Writing Tools
          "class<obsidian>": "󱓧 ",

          // Other
          "Picture in picture": ""
        }
    },

    "sway/workspaces": {
      "persistent-workspaces": {
        "1": [],
        "2": [],
        "3": [],
        "4": [],
        "5": [],
        "6": [],
        "7": [],
        "8": [],
        "9": [],
        "10": []
      }
    },

    "tray": {
        "spacing": 10,
        "tooltip": true
    },

    "clock": {
      "format": "  {:%H:%M  󰃭  %a, %d %b %Y}",
      "tooltip": true,
      "tooltip-format": "<tt><small><span size='12pt' font='FiraMono Nerd Font'>{calendar}</span></small></tt>",
      "calendar": {
        "mode"          : "week",
        "mode-mon-col"  : 3,
        "weeks-pos"     : "right",
        "on-scroll"     : 1,
        "format": {
          "months":     "<span color='#fab387'><b>{}</b></span>",
          "days":       "<span color='#cba6f7'><b>{}</b></span>",
          "weeks":      "<span color='#89dceb'><b>W{}</b></span>",
          "weekdays":   "<span color='#f9e2af'><b>{}</b></span>",
          "today":      "<span color='#f38ba8'><b><u>{}</u></b></span>"
          }
        },
      "actions":  {
        "on-click-right": "mode",
        "on-scroll-up": "tz_up",
        "on-scroll-down": "tz_down",
        "on-scroll-up": "shift_up",
        "on-scroll-down": "shift_down"
      },
    },

    "cpu": {
        "format": "  {usage}%",
        "interval": 2,

        "states": {
            "critical": 90
        }
    },

    "memory": {
        "format": "  {percentage}%",
        "interval": 2,

        "states": {
            "critical": 80
        }
    },

    "battery": {
        "format": "bat {capacity}% ({time} - {power}W)",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ({time}) 󱐋 ",
        "format-plugged": "{capacity}%  ",
        "format-time": "{H}h{M}m",
        //"format-alt": "{time} {icon}",
        "format-icons": [" ", " ", " ", " ", " "],
        "interval": 5,
        "states": {
            "warning": 20,
            "critical": 10
        },
        "tooltip": false,
        "on-click": "gnome-power-statistics"
    },

    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": [" ", " ", " ", " ", " ", " ", " ", " ", " "],
        "tooltip": false
    },

    "network": {
        "format-wifi" : "↓ {bandwidthDownBytes} ↑ {bandwidthUpBytes}",
        "format-ethernet": "{ipaddr} ↓ {bandwidthDownBytes} ↑ {bandwidthUpBytes}",
        "tooltip-format": "{ifname} via {gwaddr}",
        "format-disconnected" : "no network",
        "format-alt": "{essid} ({signalStrength}%): {ipaddr}/{cidr}",
        "interval": 5
    },

    "pulseaudio": {
        "scroll-step": 5,
        "max-volume": 150,
        "format": "  {volume}%",
        "format-bluetooth": "󰂰  {volume}%",
        "format-muted": "󰝟 ",
        "nospacing": 1,
        "on-click": "amixer -q -D pulse sset Master toggle", // toggle mute
        "on-click-right": "pavucontrol",
        "tooltip": false
    },
    "pulseaudio/slider": {
        "min": 0,
        "max": 100,
        "orientation": "horizontal"
    },

    {{- if and .host.primaryMonitor (hasKey .host.primaryMonitor "name") }}
    "output": "{{ .host.primaryMonitor.name }}",
    {{- end }}
}
