[main]
include=~/.config/fuzzel/themes/catppuccin-macchiato-lavender.ini
prompt="❯ "
font=FiraSans:size=14,Noto Color Emoji:size=14,Symbols Nerd Font:size=14
hide-before-typing=no
fields=filename,name,generic,exec
sort-result=no
match-counter=yes
show-actions=no
terminal=foot
anchor=center
x-margin=8
y-margin=8
lines=8
width=35
tabs=2
horizontal-pad=20
vertical-pad=20
inner-pad=13
line-height= 40px
layer=overlay
exit-on-keyboard-focus-loss=yes
dpi-aware=no

width=40

[border]
width=2
radius=4
