.bar-button-icon.volume {
    font-size: 1.3em;
    color: $text;
}

.bar-button-label.volume {
    color: $text;
    margin-left: 0.4em;
}

.bar_item_box_visible.volume {
    border: 0em solid $text;
}
