.bar-button-label.battery.txt-icon {
    color: $text;
    margin-left: 0.5em;
    font-size: 0.95em;
}

.bar-button-label.battery {
    color: $text;
    margin-left: 0.5em;
    font-size: 0.95em;
}

.bar-button-icon.battery {
    color: $text;
    font-size: 1.15em;
}

.bar_item_box_visible.battery {
    border: 0.1em solid $primary_bg;
}
