.bar-button-label.dashboard.txt-icon {
    color: $text;
    font-size: .95em;
}

.bar-button-label.dashboard {
    color: $text;
    font-size: 0.95em;
}

.bar-button-icon.dashboard {
    color: $blue;
    font-size: 1.1em;
}