.bar-button-label.network-label {
    color: $text;
    margin-left: 0.5em;
}

.bar-button-icon.network-icon {
    color: $text;
}

.bar_item_box_visible.network {
    border: 0em solid $border-color-light;
}
