.systray button:not(:first-child) {
    margin-left: 0.375rem;
}

.systray-icon {
    font-size: 1.3em;

    &.txt-icon {
        color: $text;
    }
}

.style2.systray {
    padding: 0.2rem 0.7rem;
}

.bar_item_box_visible.systray {
    border: 0.1rem solid $primary_bg;
}
