.bar-button-icon.windowtitle {
    color: $mauve;
}

.bar-button-label.windowtitle {
    color: $mauve;
    margin-left: 0;
    font-size: 1em;

    &.no-icon {
        margin-left: 0;
    }
}

.bar_item_box_visible.windowtitle {
    border: 0px solid $text;
}
