@use "sass:color";

// Catppuccin Mocha color palette
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

// Main theme variables
$bg: $base;
$fg: $text;
$accent: $blue;
$radius: 7px;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg;
    color: $fg;
    font-family: "Iosevka Term", "Iosevka Nerd Font Propo", "Symbols Nerd Font Mono";
    font-size: 1.1em;
    font-weight: bold;

    label {
        margin: 0 8px;
    }

    .Workspaces  {
        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: color.adjust($overlay0, $alpha: -0.4);
                border-color: color.adjust($accent, $alpha: -0.4);
            }

            &:active label {
                background-color: color.adjust($overlay1, $alpha: -0.4);
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 2px;
            border-radius: $radius;
            border: 1pt solid transparent;
        }

        .focused label {
            color: $accent;
            border-color: $accent;
        }
    }

    .SysTray {
        margin-right: 8px;

        button {
            padding: 0 4px;
        }
    }

    .FocusedClient {
        color: $mauve;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: $surface0;
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $text;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }
}
