#################
### AUTOSTART ###
#################

# System essentials
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP HYPRLAND_INSTANCE_SIGNATURE

# Start daemons
#   Some daemons are started by systemd; I don't know when it's appropriate to launch them
#   this way and when to use systemd, so it's a mix of both for now.
#   Systemd:
#     swww-daemon - systemctl --user enable --now swww.service
#     swww-daemon - systemctl --user enable --now hyprpolkitagent
exec-once = nm-applet --indicator
exec-once = QT_QPA_PLATFORM=xcb copyq --start-server
exec-once = insync start
#exec-once = swayosd-server # TODO: Make systemd unit for this
exec-once = hypridle
exec-once = SHOW_DEFAULT_ICON=true hyprswitch init --show-title --size-factor 4.5 --workspaces-per-row 5 &
exec-once = ~/.config/swww/swww_randomize_multi_daemon.sh '/home/sboynton/Insync/samlingx@gmail.com/Google Drive/Apps/Desktoppr'

# Enable dark mode
# NOTE: Handled by nwg-look instead
env = QT_QPA_PLATFORMTHEME,qt6ct   # for Qt apps
exec = gsettings set org.gnome.desktop.interface gtk-theme "catppuccin-mocha-lavender-standard+default"   # for GTK3 apps # TODO Exec once?
exec = gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"   # for GTK4 apps # TODO exec once?
exec-once = gsettings set org.gnome.desktop.interface cursor-theme BreezeX-RosePine
exec-once = gsettings set org.gnome.desktop.interface cursor-size 24 

{{ if eq .chassis.type "laptop" }}
# Desktop portals
exec-once = ~/.config/hypr/scripts/desktop-portals.sh
{{ end }}

# Load plugins
exec-once = hyprpm reload -n
exec-once = $HOME/.local/lib/import_env tmux # https://github.com/hyprwm/Hyprland/issues/3134
