####################
### APPLICATIONS ###
####################

# Start applications
exec-once = [workspace 1 silent] uwsm app -- google-chrome-stable
exec-once = [workspace 2 silent] uwsm app -- wezterm
exec-once = [workspace 3 silent] uwsm app -- code
exec-once = [workspace 4 silent] uwsm app -- vesktop
exec-once = [workspace 5 silent] uwsm app -- obsidian
