# Top bar
exec-once = uwsm app -- waybar

# Ags widgets
{{- if and .host.primaryMonitor (hasKey .host.primaryMonitor "name") }}
# See https://wiki.hyprland.org/Configuring/Monitors/
exec-once = uwsm app -- ags run --arg="primaryMonitor={{ .host.primaryMonitor.name }}" 2> /tmp/ags.log
{{- else }}
exec-once = uwsm app -- ags run 2> /tmp/ags.log
{{- end }}

