

# Top bar
exec-once = waybar
# Ags widgets
{{- if and (eq .chezmoi.fqdnHostname "endeavor") (hasKey .chezmoi.config.data.host "endeavor") }}
# See https://wiki.hyprland.org/Configuring/Monitors/
exec-once = ags run --arg="primaryMonitor={{ .chezmoi.config.data.host.endeavor.monitor0.name }}" 2> /tmp/ags.log
{{- else }}
exec-once = ags run 2> /tmp/ags.log
{{- end }}

