################
### MONITORS ###
################

{{- if and (eq .chezmoi.fqdnHostname "endeavor") (hasKey .host "endeavor") }}
# See https://wiki.hyprland.org/Configuring/Monitors/
{{- range $index, $monitor := .host.endeavor.monitors }}
monitor={{ $monitor.desc }},{{ $monitor.resolution }},{{ $monitor.position }},{{ $monitor.scale }}{{ if $monitor.translation }},{{ $monitor.translation }}{{ end }}
{{- end }}
{{- else }}
monitor=,preferred,auto,1
{{- end }}

# Unscale xwayland
xwayland {
  force_zero_scaling = true
}
