###################
### WINDOWRULES ###
###################

# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more
# See https://wiki.hyprland.org/Configuring/Workspace-Rules/ for workspace rules

# Visually indicate when a window is fullscreen
windowrule = bordercolor rgb(CBA6F7), fullscreen:1,

# Ref https://wiki.hyprland.org/Configuring/Workspace-Rules/
# "Smart gaps" / "No gaps when only"
# dwindle (for hy3 see plugin configuration)
workspace = f[1], gapsout:0, gapsin:0 # no gaps when in fullscreen
windowrule = bordersize 2, floating:0, onworkspace:f[1] # add border when in fullscreen
windowrule = rounding 0, floating:0, onworkspace:f[1] # no rounding when in fullscreen

# Only enable hyprbars on floating windows
windowrule = plugin:hyprbars:nobar, floating:0

# Ignore maximize requests from apps. You'll probably like this.
windowrule = suppressevent maximize, class:.*

# Fix some dragging issues with XWayland
windowrule = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

# Highlight pinned windows
windowrule = bordercolor rgb(DF8E1D), pinned:1,

# Configure floating clipse window
windowrule = plugin:hyprbars:nobar,class:(clipse) # disable hyprbars for clipse
windowrule = float,class:(clipse) # ensure you have a floating window class set if you want this behavior
windowrule = center,class:(clipse) # ensure you have a floating window class set if you want this behavior
windowrule = size 622 652,class:(clipse) # set the size of the window as necessary
windowrule = size 600 800,title:(Clipse GUI)
windowrule = center, title:(Clipse GUI)
windowrule = float, title:(Clipse GUI)

# Always start certain applications as floats
windowrule = float,title:(Bitwarden),class:(chrome-.*)
windowrule = float,class:(blueman-manager)
windowrule = float,class:(com.github.hluk.copyq)
windowrule = float,class:(copyq)
windowrule = float,class:(feh)
windowrule = float,class:(gnome-power-statistics)
windowrule = float,class:(insync)
windowrule = float,class:(localsend)
windowrule = float,class:(mpv)
windowrule = float,class:(nm-connection-editor)
windowrule = float,class:(nm-openconnect-auth-dialog)
windowrule = float,class:(nwg-look)
windowrule = float,class:(org.gnome.*)
windowrule = float,class:(org.kde.dolphin)
windowrule = float,class:(org.pulseaudio.pavucontrol)
windowrule = float,title:(Picture in picture)
windowrule = float,class:(piper)
windowrule = float,class:(thunar)
windowrule = float,class:(xdg-desktop-portal-gtk)
