##############
# WORKSPACES #
##############
# Bind workspaces to specific monitors
{{- /* Get host data if available */}}
{{- $hostname := .chezmoi.fqdnHostname }}
{{- $hostData := "" }}
{{- if (hasKey .host $hostname) }}
{{-   $hostData = index .host $hostname }}
{{- end }}

{{- /* Check if monitors are defined for the host */}}
{{- if and $hostData (hasKey $hostData "monitors") $hostData.monitors }}

  {{- /* Loop through each monitor */}}
  {{- range $monitor := $hostData.monitors }}
    {{- /* Check if workspaces array exists for this monitor */}}
    {{- if and (hasKey $monitor "workspaces") $monitor.workspaces }}
      {{- $monitorDesc := $monitor.name }}
      {{- if hasKey $monitor "desc" }}{{ $monitorDesc = $monitor.desc }}{{ end }}
      {{- range $wsNum := $monitor.workspaces }}
workspace = {{ $wsNum }},monitor:{{ $monitorDesc }}
      {{- end }} {{- /* End range workspaces */}}
    {{- else }}
      {{- $monitorDesc := $monitor.name }}
      {{- if hasKey $monitor "desc" }}{{ $monitorDesc = $monitor.desc }}{{ end }}
# Monitor "{{ $monitorDesc }}" does not have a 'workspaces' array definition.
    {{- end }} {{- /* End if monitor has workspaces */}}
  {{- end }} {{- /* End range monitors */}}
{{- else }}
# No monitor configuration found for host: {{ $hostname }}
{{- end }} {{- /* End if hostData and hostData.monitors */}}
