{{- $host := index .host .chezmoi.hostname -}}
{{- $dynamicTheme := and (hasKey $host "dynamic_theme") (index $host "dynamic_theme") -}}
{{ if $dynamicTheme -}}
source = ~/.config/hypr/colors.conf
{{ end }}
background {
  monitor=
  blur_passes=1
  blur_size=7
  noise=0.011700
  path=screenshot
}

background {
  monitor=
  blur_passes=1
  blur_size=7
  noise=0.011700
  path=screenshot
}

input-field {
  monitor=
  size=200,50
{{ if $dynamicTheme -}}
  check_color=$secondary
{{ else -}}
  check_color=rgb(30, 107, 204)
{{ end -}}
  dots_center=true
  dots_size=0.200000
  dots_spacing=0.350000
  fade_on_empty=false
{{ if $dynamicTheme -}}
  font_color=$secondary
{{ else -}}
  font_color=rgb(111, 45, 104)
{{ end -}}
  halign=center
  hide_input=false
{{ if $dynamicTheme -}}
  inner_color=$inverse_primary
  outer_color=$primary
{{ else -}}
  inner_color=rgba(0, 0, 0, 0.2)
  outer_color=rgba(0, 0, 0, 0)
{{ end -}}
  outline_thickness=2
{{ if $dynamicTheme -}}
  placeholder_text=<i><span>Input Password...</span></i>
{{ else -}}
  placeholder_text=<i><span foreground="##cdd6f4">Input Password...</span></i>
{{ end -}}
  position=0, -100
  rounding=-1
  valign=center
}

label {
  monitor=
  color=rgba(242, 243, 244, 0.75)
  font_family=JetBrains Mono
  font_size=95
  halign=center
  position=0, 300
  text=$TIME
  valign=center
}

label {
  monitor=
  color=rgba(242, 243, 244, 0.75)
  font_family=JetBrains Mono
  font_size=22
  halign=center
  position=0, 200
  text=cmd[update:1000] echo $(date +"%A, %B %d")
  valign=center
}
