@use "theme" as *;

window.OSD {
    padding: 3rem;

    box.OSD {
        border-radius: 100px;
        background-color: $base;
        padding: 13px 16px;
        min-width: 15rem;
        border: 1px solid $crust;
    }

    image {
        all: unset;
        padding: 7px;
        color: $base;
    }

    levelbar {
        min-width: 15rem;
        block.filled {
            min-height: 2rem;
            background-color: $mauve;
        }

        block.empty {
            min-height: 2rem;
            background-color: $surface0;
        }
    }
}