{{- $githubPAT := doppler "GITHUB_CLAUDE_CODE_PAT" "homelab" "dev_personal" -}}
#!/usr/bin/env bash
github_authorization={{ printf "Bearer %s" $githubPAT | quote }}
export GITHUB_AUTHORIZATION="$github_authorization"
cat | yq -p toml -o toml '.features.codex_hooks = true | .mcp_servers.serena = {
  "startup_timeout_sec": 15,
  "command": "serena",
  "args": ["start-mcp-server", "--project-from-cwd", "--context=codex"]
} | .mcp_servers.github = {
  "url": "https://api.githubcopilot.com/mcp/",
  "bearer_token_env_var": "GITHUB_PAT_TOKEN",
  "http_headers": {"Authorization": strenv(GITHUB_AUTHORIZATION)}
}'
