.menu-items.audio {
    border-color: $border-color-dark;
    opacity: 1;
}

.menu-items-container.audio {
    min-width: 30em;

    @import './menu.scss';

    * {
        font-size: 16px;
    }

    background: $primary_bg;

    .menu-dropdown-label.audio {
        color: $primary-color;
    }

    .menu-label.audio {
        color: $primary-color;
    }

    .menu-active.playback,
    .menu-active.input {
        color: $text;
        font-weight: normal;
    }

    .menu-button-isactive.audio {
        color: $mauve;
    }

    .menu-icon-button.volume {
        color: $mauve;
        padding: 0em 1em;

        label {
            font-size: 1em;
        }
        &:hover {
            color: $mauve;
        }
    }

    .menu-slider.playback {
        trough {
            background: $surface2;
            highlight,
            progress {
                background: $mauve;
            }
        }

        &:hover {
            trough {
                background: $surface0;
            }

            slider {
                background: transparent;
            }
        }
    }

    .menu-slider.input {
        trough {
            background: $surface2;

            highlight,
            progress {
                background: $mauve;
            }
        }

        &:hover {
            trough {
                background: $surface0;
            }

            slider {
                background: transparent;
            }
        }
    }

    .menu-active-percentage.playback,
    .menu-active-percentage.input {
        color: $text;
    }

    .menu-active-button {
        .menu-active-icon.playback,
        .menu-active-icon.input {
            color: $mauve;
            opacity: 1;
        }

        &.muted {
            .menu-active-icon.playback,
            .menu-active-icon.input {
                color: $mauve;
                opacity: 1;
            }
        }

        &:hover {
            .menu-active-icon.playback,
            .menu-active-icon.input {
                color: $mauve;
                opacity: 0.3;
            }
        }

        &.muted:hover {
            .menu-active-icon.playback,
            .menu-active-icon.input {
                color: $mauve;
                opacity: 1;
            }
        }
    }

    .menu-button-icon.playback,
    .menu-button-icon.input {
        color: $mauve;

        &.active {
            color: $mauve;
        }
    }

    .menu-button.audio {
        color: $mauve;

        .menu-button-name.playback,
        .menu-button-name.input {
            color: $text;
            font-weight: normal;
        }

        &:hover {
            .menu-button-name.playback,
            .menu-button-name.input {
                color: $mauve;
            }
        }
    }

    .menu-section-container.volume {
        margin-bottom: 0.65em;
    }

    .menu-section-container.playback {
        margin-top: 0em;
        margin-bottom: 0.65em;
    }

    .menu-section-container.input {
        margin-top: 0em;
    }

    .menu-label-container.input {
        border-radius: 0em;
        background: $primary_bg;
    }

    .menu-label-container.playback {
        background: $primary_bg;
    }

    .menu-items-section.input {
        background: $primary_bg;
    }

    .menu-items-section.playback {
        background: $primary_bg;
    }

    .menu-label-container.selected {
        background: $primary_bg;
    }

    .menu-items-section.selected {
        background: $primary_bg;
    }

    .menu-items-section.playback {
        border-radius: 0em;
    }

    .active-playbacks-scrollable {
        min-height: 12.5em;

        scrollbar contents trough slider {
            background: $primary_bg;
        }

        .menu-active-percentage.playback,
        .menu-active-percentage.input {
            margin-right: 0.6em;
        }
    }

    .no-playbacks.dim {
        opacity: 0.5;
    }
}
