.dashboard-menu-content * {
    font-size: 1em;
}

.dashboard-content-items {
    min-width: 28.5em;
    background: $primary_bg;
    border: 1px solid $primary_fg;
    border-radius: 12px;
    opacity: 1;

    button {
        border-radius: 12px;
    }

    .dashboard-card {
        background: $primary_bg;
        margin: 0em 1.3em;
        border-radius: 12px;
        padding: 0em;
    }

    .screencapture-container {
        font-size: 1em;
        padding: 0em;

        .screencapture-card {
            padding: 1.5em;

            button {
                min-height: 2.5em;
                min-width: 2.5em;
            }
        }

        // .card-button-section-container.visible {
        //     margin-right: 1.5em;
        // }

        .top-button.paired {
            margin-bottom: 1.5em;
        }

        .container {
            margin-top: 0em;
            border: 1px solid $primary_fg;

            // &.most-used {
            //     margin-right: 0.65em;
            // }

            &.utilities.paired {
                margin-left: 0em;
            }

            button {
                background: $primary_bg;
                color: $text;
                min-height: 3em;

                label {
                    font-size: 1.5em;
                }

                &.record.active {
                    background: $red;

                    &:hover {
                        background: transparentize($red, 0.5);
                    }
                }

                &:hover {
                    background: transparentize(
                        $primary_bg,
                        0.5
                    );
                }
            }
        }
    }
}

.dashboard-content-items > :not(:first-child):not(:last-child) {
    margin-top: 0;
    margin-bottom: 0.65em;
}

.dashboard-content-items > :first-child {
    margin-top: 1.3em;
    margin-bottom: 0.65em;
}

.dashboard-content-items > :last-child {
    margin-top: 0;
    margin-bottom: 1.3em;
}

.dashboard-content-items > :only-child {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
