.dashboard-menu-content * {
    font-size: 1em;
}

.dashboard-content-container {
    padding: 0em;
}

.dashboard-content-items {
    min-width: 24em;
    background: $primary_bg;
    border: 0px solid $surface0;
    border-radius: 12px;
    opacity: 1;

    button {
        border-radius: 12px;
    }

    .container.screenshot.dashboard-card {
        margin-right: 4px;
    }

    .container.recording.dashboard-card {
        margin-left: 4px;
    }

    .dashboard-card {
        background: $surface0;
        margin: 0em;
        border-radius: 12px;
        padding: 0em;
    }

    .screencapture-container {
        font-size: 1em;
        padding: 0em;

        .screencapture-card {
            // padding: 1.5em;

            button {
                min-height: 1em;
                min-width: 1em;
            }
        }

        .container {
            border: 0px solid $primary_fg;
            background: $surface0;
            padding: 0.5em;
            margin: 0px 0px;

            button {
                background: transparent;
                color: $text;
                min-height: 3em;

                label {
                    font-size: 1.5em;
                }

                &.record.active {
                    background: $red;

                    &:hover {
                        background: transparentize($red, 0.5);
                    }
                }

                &:hover {
                    background: transparentize(
                        $primary_bg,
                        0.5
                    );
                }
            }
        }
    }
}

// .dashboard-content-items > :not(:first-child):not(:last-child) {
//     margin-top: 0;
//     margin-bottom: 0.65em;
// }

// .dashboard-content-items > :first-child {
//     margin-top: 1.3em;
//     margin-bottom: 0.65em;
// }

// .dashboard-content-items > :last-child {
//     margin-top: 0;
//     margin-bottom: 1.3em;
// }

// .dashboard-content-items > :only-child {
//     margin-top: 1.3em;
//     margin-bottom: 1.3em;
// }
