{{- $defaultBrowser := includeTemplate "defaultBrowser" . }}

[Default Applications]
x-scheme-handler/discord=vesktop.desktop
x-scheme-handler/postman=Postman.desktop
x-scheme-handler/msteams=teams.desktop
application/x-chrome-extension={{ $defaultBrowser }}.desktop
x-scheme-handler/http={{ $defaultBrowser }}.desktop
x-scheme-handler/https={{ $defaultBrowser }}.desktop
x-scheme-handler/chrome={{ $defaultBrowser }}.desktop
text/html={{ $defaultBrowser }}.desktop
application/x-extension-htm={{ $defaultBrowser }}.desktop
application/x-extension-html={{ $defaultBrowser }}.desktop
application/x-extension-shtml={{ $defaultBrowser }}.desktop
application/xhtml+xml={{ $defaultBrowser }}.desktop
application/x-extension-xhtml={{ $defaultBrowser }}.desktop
application/x-extension-xht={{ $defaultBrowser }}.desktop

[Added Associations]
x-scheme-handler/discord=vesktop.desktop
x-scheme-handler/http={{ $defaultBrowser }}.desktop;
x-scheme-handler/https={{ $defaultBrowser }}.desktop;
x-scheme-handler/chrome={{ $defaultBrowser }}.desktop;
text/html={{ $defaultBrowser }}.desktop;
application/x-extension-htm={{ $defaultBrowser }}.desktop;
application/x-extension-html={{ $defaultBrowser }}.desktop;
application/x-extension-shtml={{ $defaultBrowser }}.desktop;
application/xhtml+xml={{ $defaultBrowser }}.desktop;
application/x-extension-xhtml={{ $defaultBrowser }}.desktop;
application/x-extension-xht={{ $defaultBrowser }}.desktop;
