
[Default Applications]
x-scheme-handler/discord=vesktop.desktop
x-scheme-handler/postman=Postman.desktop
x-scheme-handler/msteams=teams.desktop

{{- $defaultBrowser := includeTemplate "defaultBrowser" . }}
{{- if $defaultBrowser }}
application/x-chrome-extension={{ $defaultBrowser }}.desktop
x-scheme-handler/http={{ $defaultBrowser }}.desktop
x-scheme-handler/https={{ $defaultBrowser }}.desktop
{{- end }}

[Added Associations]
x-scheme-handler/discord=vesktop.desktop
